<div style="padding: 25px;">
  <div style="padding-bottom: 100px;">
    <span style="float: right; padding-bottom: 20px;">Welcome {{Last_Name}}</span>
  </div>
  <div>
    <ul>
      <li><a routerLink="" routerLinkActive="Active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a routerLink="/projects" routerLinkActive="Active">Projects</a></li>
      <li><a routerLink="/profile" routerLinkActive="Active" [queryParams]={id:1}>Profile</a></li>
    </ul>
    <!-- <app-home style="background-color:lightcyan; height: inherit; width: inherit;"></app-home> -->
  </div>
</div>

<router-outlet></router-outlet>