.container1{
    display: grid;
    grid-template-columns: 50% auto;
}

.col1{
    padding: 0.6em;
}

.color-dark1{
    background: #2885c4;
}

.color-light1{
    background: #57b3f1;
}

input.inputText{
    border : 0;
    padding : 1em;
    width : 90%;
    margin-bottom: 2em;
}

input.inputButton{
    border : 0;
    display: block;
    padding : 1em 3em;
    background: #a5f883;
    color: #003a61;
     
}

.project-container1{
    background: #3fa0e1;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
}